.callProfile {
  background-image: url("../../assets/call_back.svg");
  background-repeat: no-repeat;
  background-position: top -260px right 86px;
  background-size: 1094px 634px;
  // padding-top: 184.6px;
  // padding-bottom: 60px;
  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    top: -253px;
    left: -3px;
    // background-color: aqua;
  }
  &__text {
    max-width: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_main {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 4px;
      padding-top: 168px;
    }
    &__title {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 38px;
      color: #093636;
      // padding-top: 153px;
      // padding-left: 3px;
    }
    &__page {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 34px;
      color: #00325a;
      padding-top: 27px;
    }
  }
  &__buttons {
    position: relative;
    top: -70px;
    left: -21px;
    display: flex;
    justify-content: space-evenly;
  }
  &__img {
    padding-right: 223px;
  }
}
