@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
.header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  &__logo {
    font-family: "Sulphur Point";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #306e9d;
  }
  &__menu {
    display: block;

    @media (max-width: 1023px) {
      display: none;
      &__burger {
        display: block;
      }
      &__items {
        display: flex;
        flex-direction: column;
      }
      &__item {
        font-family: "Raleway";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #093636;
        padding-right: 80px;
      }
    }

    &__burger {
      display: none;
    }
    &__items {
      display: flex;
      flex-direction: row;
    }
    &__item {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #093636;
      padding-right: 80px;
    }
  }
}

ul {
  list-style: none;
}
li {
  cursor: pointer;
}
